@keyframes "show" {
	0%,70% {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }

}

@-moz-keyframes show {
	0%,70% {
	filter: alpha(opacity=0);
	opacity: 0;
}
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "show" {
	0%,70% {
	filter: alpha(opacity=0);
	opacity: 0;
}
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "show" {
	0%,70% {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "show" {
	0%,70% {
	filter: alpha(opacity=0);
	opacity: 0;
}
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}
