@keyframes "smokemove" {
 0% {
    background-position: 0px 120px;
 }
 100% {
    background-position: 0px 0px;
 }

}

@-moz-keyframes smokemove {
 0% {
   background-position: 0px 120px;
 }
 100% {
   background-position: 0px 0px;
 }

}

@-webkit-keyframes "smokemove" {
 0% {
   background-position: 0px 120px;
 }
 100% {
   background-position: 0px 0px;
 }

}

@-ms-keyframes "smokemove" {
 0% {
   background-position: 0px 120px;
 }
 100% {
   background-position: 0px 0px;
 }

}

@-o-keyframes "smokemove" {
 0% {
   background-position: 0px 120px;
 }
 100% {
   background-position: 0px 0px;
 }

}
